.infoTooltip {
  display: flex;
  height: 330px;
  width: 430px;
  background-color: #FFFFFF;
  position: relative;
  justify-content: center;
  align-self: center;
  border-radius: 10px;
  flex-direction: column;
}