.footer__links{
    display: flex;
    list-style: none;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: min-content;
}

@media screen and (max-width: 700px) {
    .footer__links {
        margin-bottom: 48px;
        flex-direction: column;
    }
  }