.footer{
    width: calc(100% - 96px);
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 24px;
}

@media screen and (max-width: 1024px) {
    .footer {
      max-width: 928px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .footer {
      width: calc(100% - 48px);
    }
  }
  
  
  @media screen and (max-width: 430px) {
    .footer {
      max-width: 186px;
      margin: 0;
      flex-direction: column;
    }
  }