.profile__info {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 16px;
  max-width: 336px;
  align-items: center;
}

@media (max-width: 767px) {
  .profile__info {
    grid-template-columns: 200px 1fr;
    gap: 0;
    justify-content: center;
  }
}